
<div class="container">

  <div class="header">
    <p>Wins</p>
    <p><%= @wins %>/<%= @games.count %></p>
    <h4>TIC TAC TOE</h4>
    <p class="winner"> </p>
  </div>

  <div class="board">

    <table id="table">

      <tr class="tr">
        <td class="empty"></td>
        <td class="empty"></td>
        <td class="empty"></td>
      </tr>

      <tr class="tr">
        <td class="empty"></td>
        <td class="empty"></td>
        <td class="empty"></td>
      </tr>

      <tr class="tr">
        <td class="empty"></td>
        <td class="empty"></td>
        <td class="empty"></td>
      </tr>

    </table>
  </div>

  <div class="button">
    <%= link_to 'Play again', 'play', class: "btn btn-primary play_again", onClick: "history.go(0)" %>
  </div>
</div>
