
<div class="container">

  <div class="header">
    <p>Wins</p>
    <p><%= @wins %>/<%= @games.count %></p>
    <h4>TIC TAC TOE</h4>
  </div>

  <div class="board">

    <table id="table">

      <tr class="tr">
        <td class="empty" id="1"></td>
        <td class="empty" id="2"></td>
        <td class="empty" id="3"></td>
      </tr>

      <tr class="tr">
        <td class="empty" id="4"></td>
        <td class="empty" id="5"></td>
        <td class="empty" id="6"></td>
      </tr>

      <tr class="tr">
        <td class="empty" id="7"></td>
        <td class="empty" id="8"></td>
        <td class="empty" id="9"></td>
      </tr>

    </table>
  </div>

  <div class="button">
    <%= link_to 'Play again', '#', class: "btn btn-primary play_again" %>
  </div>
</div>
