
<div class="container">

  <h1>TIC TAC TOE</h1>

  <div class="board">

    <table id="table">

      <tr class="tr">
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr class="tr">
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr class="tr">
        <td></td>
        <td></td>
        <td></td>
      </tr>

    </table>
  </div>


  <%= link_to 'Play again', '#', class: "btn btn-primary play_again" %>
  <%# <a href="#" class="test">Test</a> %>



</div>
