.tr {
  border: 10px solid rgb(49, 49, 49);
  border-radius: 8px;
}

#table td {
  height: 40px;
  width: 40px;
  border: 10px solid rgb(49, 49, 49);
}

.board {
  width: 480px;
  height: 480px;
  // margin-top: 65px;
}

#table {
  width: 480px;
  height: 480px;
}

.container {
  width: 480px;
  margin: 0 auto;
}

.input:checked {
  background-color: black;
}

.button {
  text-align: center;
  margin-top: 50px;
}

.user_clicked {
  background-color: rgb(222, 222, 222);
  text-align: center;
}

.comp_clicked {
  background-color: rgb(333, 333, 333);
  text-align: center;
}

h4 {
  font-family: 'Oswald', sans-serif;
  margin: 25px 0px 25px;
}

.header {
  text-align: center;
  margin-top: 25px;
  padding-top: 25px;
}
